/* Add bills styles */
#add h1 {
    padding-top: 20px;
}

/* Form styles */
#form-holder {
    border: 1px red solid;
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}

label {
    /* text-align: center; */
    display: block;
    text-align-last: center;
  }